<!DOCTYPE html>
<html lang="en">
<div class="wholepage">
    <head>
        <meta charset="UTF-8">
        <title>404 Error</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
    </head>
    <body>

    <div class="main">
        <h1 class="head-title">404</h1>
        <h6 class="head-title">Hello There!</h6>
        <h6 class="head-title">Seems you are a little lost</h6>
        <h6 class="head-title">Either this page was not found on our servers or you don't have permission to view this page</h6>
        <h6 class="head-title">Please press the back button and dont</h6>
        <h6 class="head-title">come back here again</h6>
        <h6 class="text-muted head-title  trademark-footer">@ 2020   -   2021</h6>
        <h6 class="text-muted head-title"> Hyperlink Consulting LLC</h6>
    </div>


    </body>
</div>
</html>