* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #33404d;
    font-family: "Calibri Light";


}

.wholepage {

}

.main {
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
    border-radius: 60px;
    padding: 30px;


}

.head-title {
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 30%;
}

.form-inputs {

    background-color: white;
    display: flex;

    border-radius: 30%;
}

.trademark-footer {
    margin-top: 30px;
}

.btn {
    margin-top: 10px;
}

.thelogo {
    margin-right: auto;
    margin-left: 10px;
    width: 350px;
}

.flashes {
    background-color: white;
    width: 100%;

}

.alm {
    width: 100%;
}